:root {
    --header: #F6E3BA;
    --hover:  #FFD1DC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */
.title {
    font-family: "Pacifico", cursive;
    font-size: 48px;
    font-weight: 200;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 8px;
    background-color: var(--header);
}

/* main */
.main {
    margin: 5vh;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.description {
    display: block;
    font-size: 28px;
    font-family: "Permanent Marker";
}

button {
    padding: 8px;
    background-color: white;
}

button:hover {
    background-color: var(--hover);
}

.image {
    width: 200px;
    height: 200px;
}
#human-score{
    padding-bottom:2vh;
    margin-top: -4vh;
    
}
#enemy-score {
    padding-bottom: 2vh;
    margin-top: -1vh;
}

#human-score , #enemy-score{
    font-size:42px;
    text-align: right;
     font-family: "Permanent Marker";
}


/* enemy profile */
.enemy-profile {
    margin-top: -4vh;
    display: flex;
}

.divider {
    margin-top: 5vh;
    border-bottom: 1px solid black;
}

.small {
    font-size: 24px;
}

.description-container {
    padding-left: 2vw;
    margin-top: 2vh;
}

.profile-icon {
    margin-top: -3vh;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.description.small {
    display: block;
    padding-left: 4px;
}
.enemy-selection{
    width: 425px;
    display:flex;
    justify-content: center;

}
#enemy {
    display: none;
    margin-left: 15px;

}

#enemy[src] {
    display: block;
}